/* CSS Document */
*{
	margin: 0;
	padding: 0 auto;
}
header{
	background: url(../img/bg-masthead.jpg);
	background-size: cover;
	padding-top: 200px;
	padding-bottom: 230px
}
.icon-hinh1{
	font-size: 500%;
	color: blue;
}
.showcase-img{
	background-image: url(../img/bg-showcase-1.jpg);
	height: 460px;
	background-size: cover;
}
.showcase-text{
	padding: 100px;
}
.hinh2{
	border-radius: 50%;
	max-width: 50%;
}
.text-hinh2{
	padding-left: 60px;
	padding-right: 60px;
}
.footer1{
	background-image: url(../img/bg-masthead.jpg); 
	background-size: cover;
	padding-top: 40px;
	padding-bottom: 100px;
}
.footer2{
	padding-top: 40px;
	padding-bottom: 30px;
}
.social{
	font-size: 40px;
	text-align: right!important;
}